<h1>Resultados da busca</h1>

<dl>
  <% if @promotions.empty? %>
    <p>Nenhuma promoção encontrada</p>
  <% else %>
    <% @promotions.each do |promotion| %>
      <dt><%= promotion.name %>, <%= promotion.code %></dt>
      <dd><%= link_to promotion_path(promotion), 'Ver detalhes' %></dd>
    <% end %>
  <% end %>
</dl>

<p><%= link_to 'Voltar', root_path %></p>